@import '~vuetify/src/stylus/settings/_variables'
 
// https://github.com/vuetifyjs/vuetify/blob/master/packages/vuetify/src/stylus/settings/_variables.styl

$body-font-family = 'Sintony'
$font-size-root = 12px;
$line-height-root = 1.3

$material-dark.app-bar = #373737   // toolbar
$material-dark.background = #373737

@import '~vuetify/src/stylus/main'
